<header class="header"><h1>login</h1></header>

<div class="container col-md-8" >
	<form>
		<div class="form-group">
    	<label for="UserName">Username:</label>
    	<input type="text" id="UserName" name="name">
    	<label for="Password">Password:</label>
    	<input type="password" id="Password" name="login">
  		</div>
	</form>
</div>
