<header class="header"><h1 class="un">User Name</h1></header>

<div class="col-md-2"></div>
<div class="container col-md-8" >
	{{#each (each_sort uservar "topics" "position") as |topic topicindex|}}
		<div class="topic_div">
			<h3>{{topic.topic_name}}</h3>
			{{#each (each_sort topic "tasks" "priority") as |task taskindex|}}
				<div class="tasks">
				
					{{#each (each_sort task "step_lists" "position") as |steplist steplistindex|}}
						<ul class="list">
							{{#each (each_sort steplist "steps" "position") as |step stepindex|}}
								<li class="step">
								</li>
							{{/each}}
						</ul>
					{{/each}}
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>
<div class="col-md-2"></div>
<script type="text/javascript" src=""></script>