<header class="header"><h1>logged in</h1></header>


<div class="container col-md-8" >
	{{#each (each_sort uservar "topics" "position") as |topic topicindex|}}
	{{topic.id}}
		<div class="topic_div">
			{{#each (each_sort topic "tasks" "priority") as |task taskindex|}}
			{{task.id}}
				<div class="tasks">
					{{#each (each_sort task "step_lists" "position") as |steplist steplistindex|}}
					{{steplist.id}}
						<ul class="list">
							{{#each (each_sort steplist "steps" "position") as |step stepindex|}}
								<li class="step">
								{{step.id}}
								</li>
							{{/each}}
						</ul>
					{{/each}}
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>
<script type="text/javascript">
</script>